@model Cliente
@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div>
    <div class="mb-5 text-center">
        <h1>Cadastrar Cliente</h1>
    </div>

    <form method="post" asp-controller="Cliente" asp-action="Create">
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" id="Nome" placeholder="Nome completo">
            <span asp-validation-for="Nome"></span>
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email" id="Email" placeholder="Digite seu melhor E-mail">
            <span asp-validation-for="Email"></span>
        </div>

        <div class="mb-3">
            <label for="Senha" class="form-label">Senha</label>
            <input type="password" class="form-control" asp-for="Senha" id="Senha" placeholder="Digite sua Senha">
            <span asp-validation-for="Senha"></span>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
